/* f6e7d7 */

/* Ensure the body takes up the full height and centers content */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Full-screen background image with parallax effect */
.dog {
  background: url("assets/funymme.png") no-repeat center center/cover;
  width: 100%;
  height: 100%;
  animation: zoomIn 20s infinite alternate;
}

/* Subtle zoom-in animation */
/* @keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
} */

/* Responsive design */
@media (max-width: 600px) {
  .hero {
    background-size: cover;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .hero {
    background-size: cover;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .hero {
    background-size: cover;
  }
}

@media (min-width: 1441px) {
  .hero {
    background-size: cover;
  }
}

/* media queries */

/* mobile: max 600px */
/* tablet: min 601px - max 1024px */
/* laptop: min 1025px - max 1440px */
/* bigger screen: min 1441px */
